@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
    border-radius: 20px;
    width: 10px;
    height: 10px;
}

*::-webkit-scrollbar-track {
    background: white;
}

*::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: lightblue;
}